{% extends "app2/base.html" %}
{% block content %}

    <!-- Page title -->
    <section class="parallax parallax1 page-title">
        <div class="overlay-parallax "></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h3 class="title">Select Projects</h3>
                    </div><!-- /.page-title-captions -->
                </div>
            </div>
        </div>
    </section>

<section class="flat-row v8" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form-center padding-contact">
                        {%if errorMsg%}
                            <div class="alert alert-danger">
                              <strong>{{errorMsg}}</strong>
                            </div>
                        {%endif%}

                            {% csrf_token %}
                        <ul class="list-group t20">
                            {% for project in projects %}
                            <a href="/project/{{ project.id}}">
                                <li class="list-group-item">{{ project.name }}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
