{% extends "app2/base.html" %}
{% block content %}
<!-- Page title -->
    <section class="parallax parallax1 page-title">
        <div class="overlay-parallax "></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h3 class="title">{{ project.name }}</h3>
                    </div><!-- /.page-title-captions -->
                </div>
            </div>
        </div>
    </section>
<form method="post">
    <section class="flat-row v8" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form-center padding-contact">
                        {% csrf_token %}
                        <ul class="list-group t20">
                            {% for test in tests %}

                                <li class="list-group-item">
                                    <div class="form-check">
                                      <input class="form-check-input" name = "checks" type="checkbox" value="{{test.id}}" id="{{test.id}}">
                                      <label class="form-check-label" for="{{test.id}}">
                                        {{ test.title }}
                                      </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-contact text-center">
                        <p class="form-contact">
                            <button type="submit" class="flat-button">Run</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}

