{% extends "app2/base.html" %}
{% block content %}
    <section class="flat-row page-error">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-error text-center">
                        <div class="text-error">
                            <p>4<span>o</span>4</p>
                        </div>
                        <div class="title-section text-center margin-bottom-53">
                            <h1 class="title fontsize36 fontweight600">Opps! This page Could Not Be Found!</h1>
                            <div class="sub-title fontsize16">
                                The page you are looking for does not exist.
                            </div>
                        </div>
                        <div class="btn-error">
                            <a href="/"><button class="flat-button">go to homepage</button></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}